.DS_Store
.frontend-venv/
.live-venv/
.pytest_cache/
.venv/
dist-pages/
__pycache__/
*.pyc
*.egg-info/
uv.lock

backend/.cache/
backend/.strapi/
backend/.tmp/
backend/build/
backend/dist/
backend/node_modules/
backend/public/uploads/*
!backend/public/uploads/.gitkeep
backend/.env

.env
